# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
backend/venv/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment Variables
.env

# VS Code
.vscode/

# Node
frontend/node_modules/

# Build
dist/
build/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db